target/classes/customer-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="customer-process-api-httpListenerConfig" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="customer-process-api-config" raml="customer-process-api.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="Hive_HTTP_Request_Configuration" host="${hive.host}" port="${hive.port}" basePath="/mocks/81d87c1b-5718-42c7-bdec-f91800f485af/api/hive" doc:name="HTTP Request Configuration" protocol="HTTPS" responseTimeout="10000"/>
    <http:request-config name="Presto_HTTP_Request_Configuration" host="${presto.host}" port="${presto.port}" basePath="/api" doc:name="HTTP Request Configuration"/>
    <flow name="customer-process-api-main">
        <http:listener config-ref="customer-process-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="customer-process-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="customer-process-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customer-process-api-console">
        <http:listener config-ref="customer-process-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customer-process-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/customers:customer-process-api-config">
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.type == &quot;smb&quot;]">
                <logger message="smb" level="INFO" doc:name="Logger"/>
                <http:request config-ref="Presto_HTTP_Request_Configuration" path="/presto/customers" method="GET" doc:name="Get Presto Customers"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[message.inboundProperties.'http.query.params'.type == &quot;commercial&quot;]">
                <logger message="commercial" level="INFO" doc:name="Logger"/>
                <http:request config-ref="Hive_HTTP_Request_Configuration" path="/customers" method="GET" doc:name="Get Hive Customers">
                    <http:request-builder>
                        <http:query-param paramName="database" value="customer"/>
                        <http:query-param paramName="table" value="customer"/>
                    </http:request-builder>
                </http:request>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <scatter-gather doc:name="Scatter-Gather">
                    <processor-chain>
                        <logger message="all" level="INFO" doc:name="Logger"/>
                        <http:request config-ref="Hive_HTTP_Request_Configuration" path="/customers" method="GET" doc:name="Get Hive Customers">
                            <http:request-builder>
                                <http:query-param paramName="database" value="customer"/>
                                <http:query-param paramName="table" value="customer"/>
                            </http:request-builder>
                        </http:request>
                        <dw:transform-message doc:name="Transform Message">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
                        </dw:transform-message>
                    </processor-chain>
                    <processor-chain>
                        <http:request config-ref="Presto_HTTP_Request_Configuration" path="/presto/customers" method="GET" doc:name="Get Presto Customers"/>
                        <dw:transform-message doc:name="Transform Message">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
                        </dw:transform-message>
                    </processor-chain>
                </scatter-gather>
            </otherwise>
        </choice>
    </flow>
    <flow name="get:/customers/{customer_id}:customer-process-api-config">
        <set-payload value="{
&quot;id&quot; : 01,
&quot;name&quot; : &quot;Eagle Airlines&quot;,
&quot;email&quot; : &quot;customer@eagle-airlines.com&quot;,
&quot;billTo-street&quot; : &quot;2244 Craftman St&quot;,
&quot;billTo-city&quot; : &quot;Santa Barbara&quot;,
&quot;billTo-state&quot; : &quot;Ca&quot;,
&quot;billTo-zip&quot; : &quot;94673-9600&quot;,
&quot;billTo-country&quot; : &quot;USA&quot;,
&quot;lastMmodified&quot; : &quot;2017-03-28 22:01:36 s&quot;
}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="customer-process-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
